<div class="inner-content">
  <div class="portfolio-page">
  	<div class="portfolio-box">
      <% @backgrounds.each do |background|  %>
        <div class="project-post <%= background.subreddit.name %>" data-width="<%= background.width %>" data-height="<%= background.height %>">
					<img alt="" src="<%= background.image.url(:medium) %>" />
					<div class="hover-box">
						<div class="project-title">
							<h2>/r/<%= background.subreddit.name %></h2>
              <span><%= background.width %>x<%=background.height %></span>
							<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a></div>
						</div>
					</div>
				</div>
      <% end %>
    </div>
  </div>
</div>
