<% background = subreddit.backgrounds.first %>
<% if background %>
<div class="project-post <%= subreddit.name %>">
  <img alt="" src="<%= background.image.url(:medium) %>" />
  <div class="subredditOverlay">
    <h2 class="">/r/<%= subreddit.name %></h2>
  </div>
  <div class="hover-box">
    <div class="project-title">
      <h2 class=""><a target="_blank" href="http://reddit.com/r/<%= subreddit.name %>">/r/<%= subreddit.name %></a></h2>
      <span><%= subreddit.backgrounds.count%> images</span>
      <div class="links">
        <a href="<%= r_path(subreddit) %>"><i class="fa fa-search"></i></a>
        <a href="single-project.html"><i class="fa fa-download"></i></a>
      </div>
    </div>
  </div>
</div>
<% end %>
