<% title "Pr0nPapers - /r/#{@subreddit.name}" %>
<% content_for :sidebar do %>
  <div class="logo-box">
    <h1>
    <a href="/"><i class="fa fa-chevron-left"></i></a>
    </h1>
  </div>

  <a class="elemadded responsive-link" href="#">Filter</a>
  <div class="menu-box">
    <div class="filter-box">
      <a href="#" class="widescreenFilter" title="Widescreen Only"><span>16:9</span><%= image_tag 'widescreen.png' %></a>
    </div>
    <div class="filter-box">
      <h3><i class="fa fa-arrows-h"></i></h3>
      <ul class="width-filter">
        <li><a href="#" class="active" data-width="0">any</a></li>
        <% [1200,1440,1600,1920,2500].each do |width| %>
        <li><a href="#" data-width="<%= width %>"><%= width %>px</a></li>
        <% end %>
      </ul>
    </div>

    <div class="filter-box">
      <h3><i class="fa fa-arrows-v"></i></h3>
      <ul class="height-filter">
        <li><a href="#" class="active" data-height="0">any</a></li>
        <% [1200,1440,1600,1920,2500].each do |height| %>
        <li><a href="#" data-height="<%= height %>"><%= height %>px</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="info-box">
    <a class="info-toggle" href="#" id="downloadBackgrounds">
      <i class="fa fa-download"></i>
      <span><%= @subreddit.backgrounds.length %> images</span>
      <form id="customDownload" action="<%= download_backgrounds_path %>" method="post">
        <input type="hidden" name="_method" value="get" />
        <input type="hidden" name="background[ids]" id="background_ids" value="<%= @subreddit.backgrounds.map(&:id).join(',') %>"/>
      </form>
    </a>
  </div>
<% end %>

<% content_for :scripts do %>
  <script>
    $(function(){
      $('.portfolio-box').imagesLoaded( function(){
        $('.portfolio-box').isotope('on', 'layoutComplete', function(instance, items) {
          $('.info-box span').html(items.length + ' images');
          var ids = $.map(items, function(item){
            return $(item.element).data('id');
          });
          $('#background_ids').val(ids.join(','));
        })
      });

      $('#downloadBackgrounds').click(function(){
        $('#customDownload').submit();
        return false;
      })
    })
  </script>
<% end %>

<div id="content" class="backgrounds">
  <div class="inner-content">
    <div class="portfolio-page">
      <div class="portfolio-box">
        <%= render @subreddit.backgrounds %>
      </div>
    </div>
  </div>
</div>
